
/* Le background de la div du nom et prénom*/
.moi{
	background: #088A85;
	font-family: 'Karla', sans-serif;
}
/* Le titre Développeuse web*/
h1{
	text-align: center;
	margin: 15px;
	padding: 50px;
	font-family: 'Karla', sans-serif;
	

}
/* Tous les h3 sont de couleur gris*/
h3{
	color: grey;
	font-family: 'Kanit', sans-serif;		 
}
/* La largeur de l'image en plus du placement à gauche*/
.img{
	width: 250px;
	float: left; 
	
}
/*Le titre D-W aligner au centre */
.title{
	
	text-align: center;
	margin: 15px;
	padding: 50px;
	
}

.citation{
	border: 2px solid #088A85;
	margin-left: 350px;
	padding: 100px
	text-align:center;
	background-color: #CEF6F5;
	font-family: 'Karla', sans-serif;
}

.contact{
	display: inline-flex;
	flex-direction: column;
	margin-left: 20px;
	font-family: 'Karla', sans-serif;
	

}

.block{
	display: inline-flex;

}

.formation{
	display: inline-flex;
	flex-direction: column;
	margin-left: 300px;
	font-family: 'Karla', sans-serif;
	

	 

}
.exp{
	display: inline-flex;
	flex-direction: column;
	padding-left: 300px;
	font-family: 'Karla', sans-serif;
	
		

}

.competences{
    display: inline-flex;
    flex-direction: column;
    height: 150px;
    padding-left: 15px;
    text-align: left;
    margin-left: 20px;
    font-family: 'Karla', sans-serif;
    
}

.centre{
	height: 150px;
	font-family: 'Karla', sans-serif;

}

.comp{
	display: inline-flex;
	flex-direction: row;
	margin:0px;
}
.dream{
	border: 5px double #088A85;
	text-align: center;

}

.html{
	width: 50px;
}

.css{
	width: 50px;
}

.js{
	width: 50px;
}

.php{
	width: 50px;
}

.subl{
	width: 50px;
}